<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header class="topbar">
    <div class="topbar-inner">
      
        <div class="brand__logo">W</div>
        <div class="brand__title">Service Fair</div>
      
      <div >
        <a class="brand__title format-link" href="/edit" > Submit a Project</a>
      </div>
    
    </div>
  </header>

  <main class="container">
  
    <section class="grid">
    
      <section class="card">

        <div class="tableWrap">
          <table class="table">
            <thead>
              <tr>
                <h2>Fall Service Fair</h2>
                <th class="th-center">Title</th>
               
                <th class="th-center">Topic</th>
                <th class="th-center">Type</th>
              </tr>
            </thead>
            <tbody>
              <% entries.forEach(e => { %>
                <tr>
                  <td>
                    <a class="link" href="/project/<%= e._id %>"><%= e.title %></a>
                  </td>
                  <td class="td-center"><%= e.topic %></td> 
                  <td class="td-center"><%= e.type %></td> 
                  <!-- add sort function -->
                </tr>
              <% }) %>

              <% if (entries.length === 0) { %>
                <tr>
                  <td colspan="4" class="empty">Nothing here yet. Add a project</td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </section>
      <break></break>
      <section class="temp-spacing ">

        <div class="tableWrap ">
          <table class="table">
            <thead>
              <tr>
                <h2>Spring Service Fair</h2>
                <th class="th-center">Title</th>
               
                <th class="th-center">Topic</th>
                <th class="th-center">Type</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td colspan="4" class="empty">Nothing here yet. Add a project</td>
                </tr>
            </tbody>
          </table>
        </div>
      </section>
    
    </section>
    <form action="/edit" class="inline">
      <button class="btn" >Submit a New Project</button>
    </form>
    
  </main>
<img src="https://images.squarespace-cdn.com/content/v1/5567d44ce4b07df22a1b588c/1708541982798-1PULS7GB2OUB59FLJLXP/UN+SDG+icons+inverted.png" class="img">
 
</body>
</html>
