<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <main class="wrap">
    <a class="link" href="/">← Back</a>
 <section class="card">
      <h1><%= title %></h1>
      <img src="https://resources.finalsite.net/images/t_image_size_4/v1602530628/westridge/wuexzjjvygzy2wbxpp7g/visitus-aerial-1.jpg" width="300px"> 
      <p>//placeholder image</p>
      <p><span class="label">Description: </span> <%= description%></p>
      <p><span class="label">Student(s):</span> <%= email %></p>
      <p><span class="label">Topic(s):</span> <%= topic %></p>
   
    </section>
  </main>
</body>
</html>
